@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  --background: #DBE4F0;
  --foreground: #171717;
  --radius: 6px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --radius: 6px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container-app {
  @apply mx-auto max-w-[1200px] px-4;
}
